---
import Layout from "@layouts/layout.astro"

export const prerender = true;
---

<Layout title="About Us - Elpida Africa" description="Elpida Africa is passionate about empowering individuals through the provision of education to all those in need.">
  <!-- about-area-start -->
  <div class="tp-about__area tp-about__space">
      <div class="container">
          <div class="row align-items-xl-start align-items-center">
              <div class="col-xl-5 col-lg-5 wow tpfadeLeft" data-wow-duration=".9s"
              data-wow-delay=".3s">
                  <div class="tp-about-us__main-thumb p-relative">
                      <img src="/images/students.jpg" alt="">
                      <div class="tp-about-us__thumb-sm">
                          <img src="assets/img/about/about-us-1-2.jpg" alt="">
                      </div>
                      <div class="tp-about-us__thumb-border"></div>
                  </div>
              </div>
              <div class="col-xl-7 col-lg-7 wow tpfadeRight" data-wow-duration=".9s"
              data-wow-delay=".7s">
                  <div class="tp-about__right-side tp-about__right-box">
                      <div class="tp-about__section-title pb-25">
                          <span class="tp-section-subtitle-2">ELPIDA CHARITY CENTER</span>
                          <h4 class="tp-section-title">
                            About Us
                          </h4>
                      </div>
                      <div class="tp-about__content">
                          <div class="tp-about__text">
                              <p>
                                Welcome to Elpida, where our passion for positive change through education drives everything we do. Founded on the belief that education is the cornerstone of empowerment, we are a dedicated team committed to breaking barriers and making learning accessible to all. Our journey is rooted in the transformative power of education, and we invite you to join us in creating a world where everyone has the opportunity to thrive.
                              </p>
                          </div>
                          <div class="tp-about__wraper pb-40 d-flex justify-content-between">
                              <div class="tp-about__list-item d-flex align-items-start">
                                  <div class="tp-about__list-icon">
                                      <i class="far fa-check"></i>
                                  </div>
                                  <div class="tp-about__list-content">
                                      <h4 class="tp-about__title-sm">
                                        Center of Operation
                                      </h4>
                                      <p>
                                        Kibera, Nairobi, Kenya
                                      </p>
                                  </div>
                              </div>
                              <div class="tp-about__list-item d-flex align-items-start">
                                  <div class="tp-about__list-icon">
                                      <i class="far fa-check"></i>
                                  </div>
                                  <div class="tp-about__list-content">
                                      <h4 class="tp-about__title-sm">
                                        Registered
                                      </h4>
                                      <p>
                                        2020
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="tp-about__bottom d-flex">
                              <div class="tp-about__contact-us">
                                  <span>Call Us</span>      
                                  <a href="tel:+254725941091">
                                    0725 941 091
                                  </a>                                  
                              </div>
                              <!--<div class="tp-about__author-box d-flex align-items-center">
                                  <div class="tp-about__author-thumb pr-25">
                                      <img src="/images/pascaline-1.png" alt="" height="50">
                                  </div>
                                  <div class="tp-about__author-info">
                                      <h5 class="tp-about__author-name">
                                        Pascaline Kaveni Mwanthi
                                      </h5>
                                      <span>Contact</span>
                                  </div>
                              </div>-->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- about-area-end -->

  <!-- brand-area-start -->
  <!--<div class="tp-brand-2__area">
      <div class="container">
          <div class="tp-brand-2__border">
              <div class="row">
                  <div class="col-12">
                      <div class="tp-brand-2__wrapper">
                          <div class="swiper-container tp-brand-2__active">
                              <div class="swiper-wrapper">
                                  <div class="swiper-slide">
                                      <div class="tp-brand-2__item text-center">
                                          <img src="assets/img/brand/brand-2-1.png" alt="">
                                      </div>
                                  </div>
                                  <div class="swiper-slide">
                                      <div class="tp-brand-2__item text-center">
                                          <img src="assets/img/brand/brand-2-2.png" alt="">
                                      </div>
                                  </div>
                                  <div class="swiper-slide">
                                      <div class="tp-brand-2__item text-center">
                                          <img src="assets/img/brand/brand-2-3.png" alt="">
                                      </div>
                                  </div>
                                  <div class="swiper-slide">
                                      <div class="tp-brand-2__item text-center">
                                          <img src="assets/img/brand/brand-2-4.png" alt="">
                                      </div>
                                  </div>
                                  <div class="swiper-slide">
                                      <div class="tp-brand-2__item text-center">
                                          <img src="assets/img/brand/brand-2-2.png" alt="">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>-->
  <!-- brand-area-end -->

  <!-- cta-area-start -->
  <!--<div class="tp-cta-2__area tp-cta-2__pt">
      <div class="tp-cta-2__bg p-relative fix" data-background="assets/img/cta/cta-bg-1.png">
          <div class="tp-cta-2__shape-1 d-none d-xl-block">
              <img src="assets/img/cta/cta-shape-1-1.png" alt="">
          </div>
          <div class="tp-cta-2__shape-2 d-none d-xl-block">
              <img src="assets/img/cta/cta-shape-1-2.png" alt="">
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-xl-12">
                      <div class="tp-cta-2__content text-center">
                          <span class="tp-cta-2__subtitle">let's start something for them</span>
                          <h4 class="tp-cta-2__title">No One Has Ever Become <br>Poor From Giving</h4>
                          <a href="/donation" class="tp-btn big">Start Donating Now</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>-->
  <!-- cta-area-end -->

  <!-- team-area-start -->
  <div class="tp-team-2__area pt-115 pb-65">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="tp-team-2__section-title pb-50 text-center">
                      <span class="tp-section-subtitle-2">our TEAM</span>
                      <h4 class="tp-section-title">Meet The Team at Elpida</h4>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-6 mb-30 wow tpfadeUp" data-wow-duration=".9s"
              data-wow-delay=".3s">
                  <div class="tp-team-2__wrapper">
                      <div class="tp-team-2__item text-center">
                          <div class="tp-team-2__thumb">
                              <img src="/images/ernest-1.png" alt="">
                          </div>
                          <div class="tp-team-2__content">
                              <div class="tp-team-2__author-info">
                                  <a href="/team/ernest"><h4 class="tp-team-2__author-name">
                                    Ernest Ojiambo
                                  </h4></a>
                                  <span>Trustee</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 mb-30 wow tpfadeUp" data-wow-duration=".9s"
              data-wow-delay=".3s">
                  <div class="tp-team-2__wrapper">
                      <div class="tp-team-2__item text-center">
                          <div class="tp-team-2__thumb">
                              <img src="/images/lynn-1.png" alt="">
                          </div>
                          <div class="tp-team-2__content">
                              <div class="tp-team-2__author-info">
                                  <a href="/team/pauline"><h4 class="tp-team-2__author-name">
                                    Pauline Mwanthi
                                  </h4></a>
                                  <span>Founder</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 mb-30 wow tpfadeUp" data-wow-duration=".9s"
              data-wow-delay=".3s">
                  <div class="tp-team-2__wrapper">
                      <div class="tp-team-2__item text-center">
                          <div class="tp-team-2__thumb">
                              <img src="/images/pascaline-1.png" alt="">
                          </div>
                          <div class="tp-team-2__content">
                              <div class="tp-team-2__author-info">
                                  <a href="/team/pascaline"><h4 class="tp-team-2__author-name">
                                    Pascaline Sigoro
                                  </h4></a>
                                  <span>Trustee</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 mb-30 wow tpfadeUp" data-wow-duration=".9s"
              data-wow-delay=".7s">
                  <div class="tp-team-2__wrapper">
                      <div class="tp-team-2__item text-center">
                          <div class="tp-team-2__thumb">
                              <img src="/images/steve-1.png" alt="">
                          </div>
                          <div class="tp-team-2__content">
                              <div class="tp-team-2__author-info">
                                  <a href="/team/steven"><h4 class="tp-team-2__author-name">
                                    Stephen Juma
                                  </h4></a>
                                  <span>Trustee</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- team-area-end -->
</Layout>