---
import Layout from "@layouts/layout.astro";
import ContactForm from "@components/ContactForm.svelte";
---

<Layout title="Contact Us - Elpida Africa">
  <!-- form-area-start -->
  <div class="tp-contact-form__area tp-contact-form__space">
      <div class="container">
          <div class="row">
              <div class="col-xl-5 col-lg-5 wow tpfadeLeft" data-wow-duration=".9s"
              data-wow-delay=".3s">
                  <div class="tp-contact-form__left-box">
                      <span class="tp-contact-form__subtitle">CONTACT ELPIDA</span>
                      <h4 class="tp-section-title pb-20">Any questions?</h4>
                      <p>Charity is the act of extending love and kindness to others <br>unconditionally. It is a conscious act but the decision is <br>made by the heart, without expectations</p>
                      <!--<div class="tp-contact-form__social-box">
                          <a href="#"><i class="fab fa-facebook-f"></i></a>
                          <a href="#"><i class="fab fa-instagram"></i></a>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                      </div>-->
                      <div class="tp-contact__item d-flex align-items-center">
                          <div class="tp-contact__icon">
                            <span><i class="flaticon-phone"></i></span>
                          </div>
                          <div class="">
                              <a href="tel:+254725941091">0725 941 091</a>
                          </div>
                      </div>                        
                  </div>
              </div>
              <div class="col-xl-7 col-lg-7 wow tpfadeRight" data-wow-duration=".9s"
              data-wow-delay=".7s">
                  <div class="tp-contact-form__form-box">
                      <ContactForm client:load />
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- form-area-end -->

  <!-- contact-area-start -->
  <!--<div class="tp-contact__area">
      <div class="container">
          <div class="tp-contact__bg">
              <div class="tp-contact__wrapper d-flex align-items-center justify-content-between">
                  <div class="tp-contact__item d-flex align-items-center">
                      <div class="tp-contact__icon">
                        <span><i class="flaticon-phone"></i></span>
                      </div>
                      <div class="tp-contact__text">
                          <a href="tel:+254725941091">0725 941 091</a>
                      </div>
                  </div>                        
                  <div class="tp-contact__item d-flex align-items-center">
                      <div class="tp-contact__icon">
                        <span><i class="flaticon-email"></i></span>
                      </div>
                      <div class="tp-contact__text">
                          <a href="mailto:info@elpida-africa.org">info@elpida-africa.org</a>
                      </div>
                  </div>
                  <div class="tp-contact__item d-flex align-items-center">
                      <div class="tp-contact__icon">
                        <span><i class="flaticon-location"></i></span>
                      </div>
                      <div class="tp-contact__text">
                          <a href="#">Kibera, Nairobi, Kenya</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>-->
  <!-- contact-area-end -->

  <!-- location-area-start -->
  <!--<div class="tp-location__area">
      <div class="container-fluid g-0">
          <div class="row">
              <div class="col-xl-12">
                  <div class="tp-location__info-box">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2803502.0308645153!2d89.16338837780354!3d23.65743155768624!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1684146049617!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
              </div>
          </div>
      </div>
  </div>-->
  <!-- location-area-end -->
</Layout>