---
import Layout from "@layouts/layout.astro"
---

<Layout title="Donations - Elpida Africa">
	<div class="flex flex-col place-items-center p-4 mb-2">
    <div class="max-w-md mx-auto bg-white rounded-lg shadow-lg p-6">
        <h2 class="text-lg font-semibold text-center mb-4">Donation Information</h2>
        <div class="flex flex-col space-y-2 p-8">
            <div class="p-4">
                <h3 class="font-medium">Account Name:</h3>
                <p>Elpida Trust Registered Trustees</p>
            </div>
            <div class="p-4">
                <h3 class="font-medium">Account Number:</h3>
                <p>011006222880001</p>
            </div>
            <div class="p-4">
                <h3 class="font-medium">Bank Name:</h3>
                <p>Co-Operative Bank Of Kenya Limited</p>
            </div>
        </div>
    </div>
	</div>
</Layout>