---
import Layout from "@layouts/layout.astro"

export const prerender = true;
---

<Layout title="Frequently Asked Questions - Elpida Africa" description="Elpida Africa, a non profit with underlying operations in Kibera, Nairobi, Kenya">
  <!-- faq-area-start -->
  <div class="tp-faq-2__area grey-bg pt-120 pb-70">
      <div class="container">
          <div class="row">
              <div class="col-xl-6 col-lg-6 mb-50 wow tpfadeLeft" data-wow-duration=".9s"
              data-wow-delay=".4s">
                  <div class="tp-custom-accordion">
                      <div class="accordions" id="accordionExample">
                          <div class="accordion-items">
                            <h2 class="accordion-header" id="headingOne">
                              <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                  What is Elpida's primary focus? 
                              </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                  Elpida is dedicated to improving education for the needy. Our primary focus is to provide access to quality education through various programs, fostering empowerment and breaking the cycle of poverty.
                              </div>
                            </div>
                          </div>
                          <div class="accordion-items">
                            <h2 class="accordion-header" id="headingTwo">
                              <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  How does Elpida support formal education?
                              </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                  Elpida supports formal education by ensuring that individuals, regardless of their socio-economic background, have access to quality schooling. This includes initiatives to improve infrastructure, provide resources, and support educational institutions.
                              </div>
                            </div>
                          </div>
                          <div class="accordion-items">
                            <h2 class="accordion-header" id="headingThree">
                              <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  What vocational training programs does Elpida offer?
                              </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                  Elpida offers a range of vocational training programs aimed at enhancing employability. These programs provide practical skills and training in various fields to equip individuals for sustainable and fulfilling employment.
                              </div>
                            </div>
                          </div>
                          <div class="accordion-items">
                            <h2 class="accordion-header" id="headingFour">
                              <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                  Is Elpida's focus limited to a specific age group?
                              </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                  No, Elpida's initiatives cater to individuals of all ages. From children in formal education to adults seeking further skills development, our programs recognize that education is a lifelong journey.
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 mb-50 wow tpfadeRight" data-wow-duration=".9s"
              data-wow-delay=".8s">
                  <div class="tp-custom-accordion">
                      <div class="accordions" id="accordionExample2">
                          <div class="accordion-items">
                            <h2 class="accordion-header" id="headingOne1">
                              <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                  How is technology intergrated into education?
                              </button>
                            </h2>
                            <div id="collapseOne1" class="accordion-collapse collapse" aria-labelledby="headingOne1" data-bs-parent="#accordionExample2">
                              <div class="accordion-body">
                                  Elpida embraces innovative technologies to enhance the learning experience. We integrate digital tools and resources to make education more accessible, engaging, and aligned with the demands of the modern world.
                              </div>
                            </div>
                          </div>
                          <div class="accordion-items">
                            <h2 class="accordion-header" id="headingTwo2">
                              <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                  How can I contribute to Elpida's mission?
                              </button>
                            </h2>
                            <div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2" data-bs-parent="#accordionExample2">
                              <div class="accordion-body">
                                  You can contribute to Elpida's mission by making a donation, volunteering your time and skills, or exploring partnership opportunities. Visit our "Get Involved" page for more details on how you can support our initiatives.
                              </div>
                            </div>
                          </div>
                          <div class="accordion-items">
                            <h2 class="accordion-header" id="headingThree3">
                              <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                  Do you collaborate with other organizations?
                              </button>
                            </h2>
                            <div id="collapseThree3" class="accordion-collapse collapse" aria-labelledby="headingThree3" data-bs-parent="#accordionExample2">
                              <div class="accordion-body">
                                  Yes, Elpida actively collaborates with other organizations, communities, and educational institutions. We believe in the power of partnerships to amplify our impact and create a network of support for those in need.
                              </div>
                            </div>
                          </div>
                          <div class="accordion-items">
                            <h2 class="accordion-header" id="headingFour4">
                              <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour4" aria-expanded="false" aria-controls="collapseFour4">
                                  What sets Elpida apart from other educational charities?
                              </button>
                            </h2>
                            <div id="collapseFour4" class="accordion-collapse collapse" aria-labelledby="headingFour4" data-bs-parent="#accordionExample2">
                              <div class="accordion-body">
                                  Elpida stands out for its comprehensive approach to education. We go beyond traditional models, focusing on holistic development, technology integration, and community empowerment to create sustainable solutions for those we serve.
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- faq-area-end -->

  <!-- cta-area-start -->
  <div class="tp-cta__area">
      <div class="tp-cta__bg" data-background="assets/img/cta/cta-bg-3.jpg">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-xl-7 col-lg-7 col-md-7">
                      <div class="tp-cta__content d-flex align-items-center">
                          <div class="tp-cta__icon d-none d-sm-block">
                              <span><i class="flaticon-volunteer"></i></span>
                          </div>
                          <h4 class="tp-cta__title-sm">Join your hand with us for a <br> better life and future
                          </h4>
                      </div>
                  </div>
                  <div class="col-xl-5 col-lg-5 col-md-5">
                      <div class="tp-cta__button text-md-end text-start">
                          <a class="tp-btn" href="/about">Discover More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- cta-area-end -->
</Layout>